.emojiBox {
  margin: 20px;
  font-size: 2rem;
}

.prevButton,
.nextButton {
  font-size: 2rem;
  font-weight: bolder;
  cursor: pointer;
  padding: 0.3rem 0.8rem;
  border: none;
  background-color: transparent;
  color: var(--color-gray);
}
